@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
  padding: 40px;
}

input {
  width: 250px;
  height: 25px;
}

label {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  gap: 5px;
}

button {
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  background-color: rgb(59, 219, 59);
}

button:hover {
  background-color: rgb(47, 125, 47);
}

button:disabled {
  background-color: red;
}
